body {
  font-family: "Lato";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
  
}

/* Sections */

.colored-section {
  background-color: #dbe2ef;
  color: #000000;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Lato";
  font-size: 2.5rem;
  font-weight: bold;
  color: #3f72af;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Lato";
  font-weight: 700;
}

.navbar-dark .navbar-brand {
  color: #112d4e;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: #3f72af;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #3f72af;
}

.navbar-dark .navbar-nav .nav-link {
  color: #112d4e;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #dbe2ef;
  color: #000000;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 100%;
  /* transform: rotate(25deg); */
  position: absolute;
  right: 10%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #3f72af;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #dbe2ef;
}

/* Testimonial Section */

#testimonials {
  background-color: #3f72af;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.Hi{
  color: #fff;
}


#press {
  background-color: #3f72af;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 0px;
}

/* .price-text {
  font-size: 3rem;
  line-height: 1.5;
} */

.pricing-column {
  padding: 3% 5%;
}
.pricing-column col-lg-4{
  height: 30px;
  width: 10px;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
.feature-title {
  font-size: 2rem;
}

.t-image{
  width: 50%;
  height: 50%;
}

.imge{
  width: 50%;
  height: autoc;

}
