*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Poppins', monospace;

    --fw-reg: 300;
    --fw-bold: 700;
    
    --clr-light: #F4F6F7;
    --clr-dark: #1C2833;
    --clr-accent: #07689f;
    
    --fs-h1: 2.0rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1rem;
    --fs-h4: .8rem;
    --fs-body: 0.3rem;
}

@media (min-width: 900px) {
    :root {
        --fs-h1: 3.0rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.1rem;
        --fs-body: 1rem;
    }
   
}



body {
    background: #a2d5f2;
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    

}
img {
    display: block;
    max-width: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em 0 1.5em;
    z-index: 100;
    position: sticky;
    top: 0px;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.1);
}
.logo {
    max-width: 80px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    width: 100%;
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}

.nav__link {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: #07689f;
}

.nav-toggle {
    margin: 0;
    padding: 0;
    background: transparent;
    outline: none;
    border:none;
    cursor: pointer;
    position: absolute;
    right: 3em;
    top: 4.5em;
    z-index: 1000;
}

.nav-open .nav {
    transform:  translate(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}



.hamburger {
  

    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background: #07689f;
    width: 6em;
    height: 2px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


@media (min-width: 900px) {
    .nav-toggle {
        top:3em;
        right: 1em;
    }
    .logo {
        max-width: 150px;
    }

    header {
       
    }

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 2px;
}
 }

/* Color Select in Font Icon */
.react {
    color: #61DAFB;
}
.html5 {
    color: #07689f;
}
.laravel {
    color: #07689f;
}

.node {
    color: #75AC64;
}

.php {
    color: #4D598F;
}

.js {

color:#F0D91D;
}
.bootstrap {
    color: #8211F6;
}

.css {
    color:#2D9CD0;
}

.mysql {
    margin-bottom: 15px;
}

.jquery {
    margin-bottom: 4px;
}

.intro__hi {
    margin: 0;
}
.intro {

  max-width: 90%;
  margin: 0 auto;
  margin-top: 120px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2) ;
  display: flex;
  align-items: center;
  border-radius: .8rem;
  flex-direction: column;

}


.intro__img {
    min-width: 45%;
    max-width: 45%;
    transform: translate(0,-8rem);
}

.intro__img img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.intro__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.5);
    border-radius: .8rem;
}
.intro__info {
    margin-top: -4rem;
}

.intro__title {
    margin: 0;
    text-transform: uppercase;
    color: var(--clr-dark);
}

.intro__text {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, .7);
}
.intro__subtitle {
    margin: 0;
    font-weight: 500;
}

.intro__action {
    align-self: center;

   
}



.link {

    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}


.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    color: #07689f;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                  2px 2px 8px rgba(0, 0, 0, 0.15) ;
}

.btn:hover {
    box-shadow:inset  -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
      inset 2px 2px 8px rgba(0, 0, 0, 0.15) ;
      transform: scale(0.98);
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

.skills {
    font-size: 1.4rem;
}

.skills span {
    font-size: 1rem;
    color: rgba(0, 0, 0, .7);
}

.intro__contact-head {
    font-size: 1rem;
    color: rgba(0, 0, 0, .7);
}

.contact ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.contact ul li {
    position: relative;
    list-style: none;
}

.contact ul li a {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 3px 5px;
    text-decoration: none;
    border-radius: 50%;
    color: #e2e2e2;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    font-size: 1rem;
}
.contact ul li a:hover {
    color: #999;
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
    2px 24px 10px rgba(0, 0, 0, 0.1);
}

.contact ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.contact ul li a img
{ 
    width: 25px;
}
.contact ul li a .fas,
.contact ul li a .fab,
.contact ul li a img
{
    position: relative;
    z-index: 1;
    color: #fff;
}


.contact ul li:nth-child(1) a:before {
    background:#07689f ;
}
.contact ul li:nth-child(2) a:before {
    background:#0077B5 ;
}

.contact ul li:nth-child(4) a:before {
    background:#6FDA44 ;
}


@media (min-width: 900px) {
    .intro {
        max-width: 70%;
        margin-top: 30px;
        flex-direction: row;
        padding: 5rem;
    }
    .intro__info {
        margin-top: 0rem;
    }
    .intro__text {
        font-size: 1.4rem;
    }
    .intro__img {
        min-width: 20rem;
        max-width: 20rem;
        height: 25rem;
        transform: translateX(-12rem);
        position: relative;
    }
    .intro__action {
        writing-mode: vertical-rl;
        text-orientation: mixed;
       
    }
    .intro__action .btn {
        padding: 30px 5px;
        margin-left: 20px;
    }

    .intro__action .btn i {
        transform: rotate(90deg);
    }

    .contact ul li a {
        width: 3.5rem;
        height: 3.5rem;
        margin: 3px 10px;
        font-size: 1.2rem;
    }
 }


 /* Project Card Container Style */

 .project {

    max-width: 90%;
    margin: 3rem auto;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2) ;
    border-radius: .8rem;
  
  }

  .project__menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
  }

  .project__title {
      font-size: var(--fs-h2);
      font-weight: 500;
      padding: 1em;
      margin-bottom: 0px;
  }

/* Card Project  */

.card-container {
    width: 250px;
    height: 500px;
    /* margin: .8rem; */
    margin: .8rem 0px;
    
}
.card {
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card > div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-front {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 280px 120px 100px;
    grid-template-areas: "image" "text" "stats";
    font-family: 'Poppins', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    backface-visibility: hidden;
}

.card-container:hover  .card{
    transform: rotateY(180deg);
   
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  
}

#stinson {
    background: url('../img/project/stinson.jpg');
    background-size: cover;
    position: relative;
}

#jsfun {
    background: url('../img/project/funjs.jpg');
    background-size: cover;
    position: relative;
}

#phpfun {
    background: url('../img/project/sms.jpg');
    background-size: cover;
    position: relative;
}

#vision {
    background: url('../img/project/vision.jpg');
    background-size: cover;
    position: relative;
}
#nebula {
    background: url('../img/project/nebula.png');
    background-size: cover;
    position: relative;
}

#madeena {
    background: url('../img/project/madeena.jpg');
    background-size: cover;
    position: relative;
}

#arcar {
    background: url('../img/project/arcar.jpg');
    background-size: cover;
    position: relative;
}

.card-image .caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    border-left: 4px solid #07689f;
    width: 100%;
}
.card-image .caption span {
    color: white;
    padding: 0 .75rem;
    font-size: var(--fs-h4)
}
.card-image .caption h3 {
    color: white;
    padding:  0 .75rem;
    font-size: var(--fs-h3)
}

.card-text {
    grid-area: text;
    margin: 0px .5rem 1.5rem 0.5rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, .7);
    text-align: justify;
    word-break: break-all;
}
.card-text h1 {
    margin-top: 0px;
}

.card-stats {
    grid-area:  stats;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-auto-rows:65px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 10px;
    justify-content: center;
    color: black;
    border-top: 2px solid #e8dddb4d;
    margin-top: 2rem;
    font-size: .8rem;
}

.card-stats .stat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat + .stat {

    /* border-left: 2px solid #e8dddb4d; */

}

.card-back {
    position: absolute;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 100px 320px 80px  ;
    grid-template-areas:  "title" "description" "action" ;
    transform: rotateY(180deg);
    font-family: 'Poppins', sans-serif;
    border-radius: 18px;
    background: white;
    backface-visibility: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}


.card__back--title {
    grid-area: title;
    align-self: center;
    justify-self: center;
    font-weight: 500;
}

.card__back--title::after {
    content: '';
    display: block;
    margin-top: 3px;
    border-bottom: 2px solid salmon;
}


.card__back--description {
    grid-area: description;
    padding: 5px;
    line-height: 1.4em;
    font-size: 1rem;
    color: rgba(0, 0, 0, .7);
    text-align: left;
}

.card__back--description ul {
    position: relative;
    background: #fff;
    margin: 0px;
    padding: 0px;

}
.card__back--description ul li {
    list-style: none;
    padding: 8px;
    margin: 0px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.stat .type {
    width: 30px;
}

.card__back--action {
    grid-area: action;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    
}

.card__back--action a i {
    margin-right: 3px;
}

.card__back--action a {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #07689f;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                  2px 2px 8px rgba(0, 0, 0, 0.15) ;
}

.card__back--action a:hover {
    box-shadow:inset  -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
      inset 2px 2px 8px rgba(0, 0, 0, 0.15) ;
}
.card__back--action a:hover i {
    display: inline-block;
    transform: scale(0.98);
}







  @media (min-width: 900px) {

    .project {
        max-width: 70%;
    }

    .project__menu {
        justify-content: space-around;
        flex-direction: row;
        
    }
    .card-container {
        margin: 2rem .8rem;
    }
    .card-stats { 

        font-size: 1rem;
    }
  }


  /* Tab Content Style */

  [data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}


.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 2rem;
    padding:0;
    list-style-type: none;
    font-size: var(--fs-h3);
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab + .tab {
    margin-left: 1rem;
}

.tab.active {
    border-bottom:2px solid #07689f;
}
.tab:hover {
    border-bottom:2px solid #07689f;
}

/* Time Line Container Style */

.timeline-section
{
    max-width: 90%;
    margin: 3rem auto;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2) ;
    border-radius: .8rem;
}

.timeline {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    position: relative;
    padding-left: 2.5rem;
}

.timeline:before {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid #07689f;
    border-radius: 50%;
    z-index: 1;
    background-color: var(--clr-light);
}

.timeline:after {
    content: "";
    border-left: 2px solid #07689f;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0.7rem;
    z-index: 0;
    
} 

.timeline:last-child:after {
    content: none;
}

.timeline-date {
    font-size: .7rem;
    padding-right: 3rem;
    border-right: 4px solid #07689f;
    background-color: rgba(0, 0, 0, .7);
    color:white

}
.timeline-date span {
    display: inline-block;
    padding: .2rem .4rem;
    margin: 4px 0 .4rem 0;
  

}

.timeline-info {
    flex:1;
    margin: 0 0 2rem 0;
   

}

.timeline-info h2,h3{
    margin: 0;
    font-weight: 500;
}

.timeline-info p {
    font-size: 1rem;
    color: rgba(0, 0, 0, .7);
    padding-right: .7rem;
}

@media (min-width: 900px) { 
  
    .timeline-section {
        max-width: 70%;
    }

    .timeline { 
        flex-direction: row;
        padding: 0;
    }


    .timeline-date { 
        font-size: .9rem;
        display: inline-table;
        margin: -4px 10px 0 2rem;
        border-right: 4px solid #07689f;
        width: 21%;
    }
    .timeline-info {
        
        margin: 3rem 0 0 0rem;
    }

    .timeline-info p {
        font-size: 1.4rem;
    }
}


/* Contact Section */

.contacts-section
{
    max-width: 90%;
    margin: 3rem auto;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2) ;
    border-radius: .8rem;
    position: relative;

}

.contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}

.contacts-btn {
    margin: 2rem 0;
}
.contacts-btn .btn  i {
 margin-right: 5px;
}

/* .wrapper{

    width: 100%;
    max-width: 550px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  } */
  
  .wrapper .title h1{
    color: #c5ecfd;
    text-align: center;
    margin-bottom: 25px;
    
  }
  
  .contacts-form{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;

  }
  

  .input-fields{
    width: 100%;
  }
  
  .input-fields,
  .msg{
    width: 100%;
  }

  .input-data {
      position: relative;
  }

  .input-data input {}
   .underline {
    position: absolute;
    bottom:0px;
    height: 2px;
    width: 100%;
    background: #07689f;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }



  .input-data input:focus ~ .underline{

    opacity: 1;
 }

 .input-data textarea:focus ~ .underline{

    opacity: 1;
 }

  .input-fields .input,
  .msg textarea{
    margin: 10px 0 0 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid var(--clr-light);
    padding: 10px;
    width: 100%;
  }
  
  .msg textarea{
    height: 80px;
    position: relative;
    bottom: -6px;
  }

  .contacts-section p {
    font-size: 1rem;
    color: rgba(0, 0, 0, .7);
    margin: 0 8px 0 1.5rem;
    
  }

@media (min-width:900px) {
            .contacts-section
        {
            max-width: 70%;
        
        }

        .contacts-form{ 
            width: 50%;
        }
        .contacts { 
            justify-content: center;
        }

        .contacts-section p {
            font-size: 1.4rem;
            margin: 0 0 0 2rem;
            
          }
}

/* Footer Section */

footer {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    padding: 0;   
    text-align: center;
}
footer p {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 1rem;
}

@media (min-width: 900px) { 
  
    footer {
        max-width: 70%;
    }
}

.error-message {
    margin: 10px;
    font-size: 12px;
    background: #07689f;
    color: var(--clr-light);
    padding: 5px 20px;
    border-radius: 1rem;
    font-weight: 700;
}


.success-message {
    margin: 10px;
    font-size: 12px;
    background: #00b100;
    color: var(--clr-light);
    padding: 5px 20px;
    border-radius: 1rem;
    font-weight: 700;
}






